{% extends "base.html" %}

{% block start %}
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner shadow-lg">
    {% for card in cards%}

    <div class="carousel-item {{card.text}}">
      <img src="/media/{{card.images}}" class="d-block w-100" alt="...">
    </div>

    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="container   my-4">

  <div class="row">
    {% for pizza in pizzas %}
    <div class="col-lg-4 col-md-6 mb-4 my-3">
      <div class="card">
        <img src="/media/{{ pizza.images }}" class="card-img-top" alt="Hotel 1">
        <div class="card-body card shadow-lg">
          <h5 class="card-title" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            {{ pizza.pizza_name }}
            {% if request.user.is_authenticated %}
            <a href="{% url 'add_cart' pizza.uid%}" class="btn btn-success">Cart</a>
            {% else %}
            <a href="login/" class="btn btn-success">Cart</a>
            {% endif %}
          </h5>
          <p style="font-weight: bold;">Price - {{ pizza.price }} ₹/- || {{ pizza.category.category_name }}</p>
          <p class="card-text">{{pizza.description}}</p>

        </div>
      </div>
    </div>
    {% endfor %}


  </div>
</div>



<!-- poster  -->




{% endblock %}